.mainContainer {
  width: 100%;
  min-height: 100vh;
  display: inline-block;
  background-color: #dae0e6;
  display: flex;
  justify-content: center;
}

.postContainer {
  width: 624px;
  padding: 20px 24px 20px 24px;
}

.topbar {
  padding: 10px 12px 10px 12px;
  margin-bottom: 16px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #ccc;
  display: flex;
}

.topbarButton {
  text-decoration: none;
  color: rgb(135, 138, 140);
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.topbarButtonContainer {
  padding: 6px 8px 6px 8px;
  margin-right: 16px;
  height: 20px;
}

.topbarButtonContainer:hover {
  border-radius: 20px;
  background-color: #e2e7e9;
}

.createBtnMain {
  justify-content: center;
}

.createBtnContainer {
  width: 90%;
  text-align: center;
}

.createBtn {
  display: block;
  line-height: 32px;
  background-color: rgb(0, 121, 211);
  border-radius: 25px;
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.createBtn:hover {
  background-color: rgb(0, 110, 211);
}

.topbarSymbol {
  height: 20px;
  width: 20px;
}

.post {
  display: flex;
  border: 1px solid white;
  border-radius: 3px;
  margin-bottom: 10px;
}

.post:hover {
  border: 1px solid #ccc;
}

.upvotes {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 40px;
  align-items: center;
  background-color: rgb(245, 245, 245);
  padding-top: 8px;
  padding-bottom: 8px;
}

.upArrow,
.downArrow {
  width: 20px;
  padding: 0;
  text-align: center;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: grey;
  font-size: 20px;
}

.upArrow:hover,
.downArrow:hover {
  background-color: #e2e7e9;
  border-radius: 5px;
  cursor: pointer;
}

.upArrow:hover {
  color: rgb(255, 69, 0);
}

.downArrow:hover {
  color: rgb(0, 110, 211);
}

.content {
  width: 100%;
  background-color: white;
  padding-top: 8px;
}

.postInfo {
  display: flex;
  gap: 6px;
  margin: 0 8px 8px 8px;
  font-size: 15px;
}

.userDate,
.dot {
  color: rgb(120, 124, 126);
}

.postTitle {
  margin-left: 8px;
  margin-right: 8px;
  font-weight: 600;
  font-size: 18px;
}

.postContent {
  margin-top: 8px;
  padding: 5px 8px 10px 8px;
}

.contentLinkBtn {
  color: rgb(135, 138, 140);
  background-color: white;
  border: none;
}

.contentLink {
  color: rgb(135, 138, 140);
  text-decoration: none;
  padding: 8px;
  display: flex;
  gap: 4px;
  align-items: center;
}

.contentLink:hover,
.contentLinkBtn:hover {
  background-color: #e2e7e9;
  cursor: pointer;
  border-radius: 2px;
}

.postLinks {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2px;
}

.postLinkImg {
  height: 20px;
  width: 20px;
}

.loginToCreatePost {
  line-height: 32px;
}

.buttonGroup {
  display: flex;
  gap: 4px;
}

.deleteBtn {
  margin-right: 4px;
}
